@font-face {
  font-family: "Amstelvar";
  font-style: normal;
  font-stretch: 50 125; /* default: 100 */
  font-weight: 100 900; /* default: 400 */
  src: url("assets/Amstelvar-Roman.woff2") format("woff2 supports variations"),
    url("assets/Amstelvar-Roman.woff2") format("woff2-variations");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

/* variable font axes styles */
:root {
  --YTLC: 531;
  --YTAS: 767;
  --GRAD: 1;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-variant-numeric: oldstyle-nums;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1200px;
}

header {
  margin-top: 3rem;
}

footer {
  margin-bottom: 5rem;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: Amstelvar, Georgia, "Times New Roman", Times, serif;
  }
  .bird {
    font-variation-settings: "GRAD" var(--GRAD), "YTLC" var(--YTLC),
      "YTAS" var(--YTAS);
  }
}

.bird__names {
  text-align: center;
}

.bird {
  font-size: clamp(4rem, 8rem, 20vw);
  margin: 0;
  line-height: 1.2;
}

.bird__names p[lang="la"] {
  font-style: italic;
  margin: 0 0 2rem 0;
}

canvas {
  display: block;
}
